@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .paginat {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .paginat .swiper-pagination-bullet {
        padding: 5px 10px;
        border-radius: 0;
        width: auto;
        height: 22px;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        color:#000;
        border: 1px solid #BDBDBD;
        border-radius: 10px;
        opacity: 1;
        background: #fff;
    }
    .paginat .swiper-pagination-bullet-active {
        color:#fff;
        background: #C0CC30;
    }

    .swipe .swiper-pagination-bullet {
        padding: 5px 10px;
        border-radius: 0;
        width: auto;
        height: 20px;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        color:#000;
        border: 1px solid #C0CC30;
        border-radius: 10px;
        opacity: 1;
        background: #fff;
    }
    .swipe .swiper-pagination-bullet-active {
        color:#fff;
        background: #C0CC30;
    }
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .btn.active {
        background-color: #C0CC30;
        color: white;
        border: #C0CC30;
      }
      .kolom {
        display: none !important;
      }
      .show {
        display: block !important;
      }
}
